fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/functions/
fish/.config/fish/fish_variables

nvim/.config/nvim/plugged/
nvim/.config/nvim/.netrwhist

vim/.vim/*
!vim/.vim/vimrc
!vim/.vim/config/

