fish/.config/fish/*
!fish/.config/fish/config.fish
!fish/.config/fish/fish_plugins

nvim/.config/nvim/*
!nvim/.config/nvim/init.lua
!nvim/.config/nvim/lua/

tmux/.config/tmux/*
!tmux/.config/tmux/tmux.conf

vim/.vim/*
!vim/.vim/vimrc
!vim/.vim/coc-settings.json
!vim/.vim/config/
!vim/.vim/after/

